<!--
<#% @restroom.reviews.each do |review| %>

  <p><strong>Cleanliness:</strong>
  <#%= review.cleanliness %></p>

  <p><strong>Privacy:</strong>
  <#%= review.privacy %></p>

  <p><strong>Smell:</strong>
  <#%= review.smell %></p>

  <p><strong>Accessibility:</strong>
  <#%= review.accessible %></p>

  <p><strong>Gender:</strong>
  <#%= review.gender %></p>

  <p><strong>Comments:</strong>
  <#%= review.comments %></p>

<#% end %>

<p>
  <#%= link_to 'Back to Home', root_path %>
</p>
-->
